@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  /* CABECERO */
  /* Móvil vertical */
  /* Tabletas normal horizontal */
  /* Portátil */
  /* ANIMACIONES */
}
* .navbar-light {
  z-index: 1;
  background-color: #a3cd9e !important;
  grid-area: cabecero;
  display: grid;
  grid-template-areas: "logotipo menu";
  position: fixed;
  right: 0;
  left: 0;
}
* .navbar-light .cabecero__logotipo {
  color: darkslategray !important;
  grid-area: logotipo;
  font-size: 60px;
  font-family: "Amatic SC";
  margin-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
  justify-self: center;
}
* .navbar-light .cabecero__menu {
  grid-area: menu;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 150px;
}
* .navbar-light .cabecero__menu .btn-menu {
  background-color: #a3cd9e !important;
  color: darkslategray !important;
  text-decoration: none;
  display: inline-block;
  padding: 6px 18px;
  border: 1px solid darkslategray;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 17px;
  z-index: 1;
  margin: 5px 20px 0 0;
  box-shadow: none !important;
}
* .navbar-light .cabecero__menu .btn-menu:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
* .navbar-light .cabecero__menu .btn-menu:hover {
  color: #ffffff !important;
  border: 1px solid darkslategray;
}
* .navbar-light .cabecero__menu .btn-menu:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: darkslategray;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
  box-shadow: none;
}
* .navbar-light .cabecero__menu .btn-menu:hover:before {
  top: -35%;
  background-color: darkslategray;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
* .navbar-light .cabecero__menu .btn-menu:hover:after {
  top: -45%;
  background-color: darkslategray;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
* .navbar-light .cabecero__menu .btn-menu.active {
  border: 1px solid darkslategray;
  background-color: darkslategray !important;
  color: #ffffff !important;
}
* .titulo {
  grid-area: titulo;
  font-size: 28px;
  padding: 20px;
  justify-self: center;
}
* .contenedorPrincipal {
  background: url(../img/bateria2.jpg) center/cover no-repeat;
  display: grid;
  grid-template-rows: auto 850px auto;
  grid-template-areas: "cabecero" "contenido" "pieDePagina";
  justify-content: stretch;
}
* .contenedorPrincipal .contenidoInicio {
  margin-top: 150px;
  grid-area: contenido;
  display: grid;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
* .contenedorPrincipal .contenidoInicio__tituloPersona {
  color: #E5F1E3;
  font-size: 40px;
}
* .contenedorPrincipal .contenidoInicio__tituloPersona__descripcion {
  font-size: 20px;
}
* .mainContacto {
  padding-top: 200px;
  z-index: 0;
}
* .mainContacto__fila1__servicios__titulo, * .mainContacto__fila1__contacto__titulo {
  font-size: 25px;
  padding-bottom: 50px;
}
* .mainContacto__fila2 {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
* .contenedorGrabaciones {
  display: grid;
  grid-template-areas: "cabecero" "mainPrincipalGrabaciones" "pieDePagina";
}
* .contenedorGrabaciones .mainPrincipalGrabaciones {
  grid-area: mainPrincipalGrabaciones;
  margin-top: 120px;
  margin-bottom: 30px;
  display: grid;
  grid-template-areas: "titulo" "videos";
}
* .contenedorGrabaciones .mainPrincipalGrabaciones .videos {
  display: flex;
}
* .contenedorGrabaciones .mainPrincipalGrabaciones .v {
  padding: 20px;
}
* .contenedorGrabaciones .mainPrincipalGrabaciones .v video {
  max-width: 720px;
  border-radius: 1rem;
  width: 100%;
  height: auto;
}
* .contenedorHomeStudio {
  display: grid;
  grid-template-areas: "cabecero" "mainHomeStudio" "pieDePagina";
  justify-content: stretch;
}
* .contenedorHomeStudio .mainHomeStudio {
  grid-area: mainHomeStudio;
  margin-top: 120px;
  display: grid;
  grid-template-areas: "titulo" "galeria";
  justify-content: stretch;
}
* .contenedorHomeStudio .mainHomeStudio .galeria {
  justify-content: stretch;
  min-height: 600px;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 10px;
}
* .contenedorHomeStudio .mainHomeStudio .galeria .imagen {
  border-radius: 0.5em;
  background-size: cover;
  background-position: center;
}
* .contenedorHomeStudio .mainHomeStudio .galeria .imagen:hover {
  transition: 1s;
  transform: scale(1.1);
}
* .contenedorHomeStudio .mainHomeStudio .galeria .item1 {
  background-image: url(../img/homeStudio/1.jpeg);
}
* .contenedorHomeStudio .mainHomeStudio .galeria .item2 {
  background-image: url(../img/homeStudio/2.jpeg);
}
* .contenedorHomeStudio .mainHomeStudio .galeria .item3 {
  background-image: url(../img/homeStudio/3.jpeg);
}
* .contenedorHomeStudio .mainHomeStudio .galeria .item4 {
  background-image: url(../img/homeStudio/4.jpeg);
}
* .contenedorHomeStudio .mainHomeStudio .galeria .item5 {
  background-image: url(../img/homeStudio/5.jpeg);
}
* .contenedorHomeStudio .mainHomeStudio .galeria .item6 {
  background-image: url(../img/homeStudio/6.jpeg);
}
* .mainMiHistoria {
  min-height: 715px;
  margin-top: 110px;
}
* .mainMiHistoria .imagen {
  background-image: url(../img/historia2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
}
* .mainMiHistoria .historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* .pieDePagina {
  display: grid;
  grid-area: pieDePagina;
  background-color: #a3cd9e;
  height: 100px;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 426px) {
  * .cabecero__logotipo {
    font-size: 50px;
  }
  * .contenidoInicio {
    margin-top: 220px;
  }
  * .videos {
    display: flex;
    flex-direction: column;
  }
  * .v {
    display: flex;
    justify-content: center;
  }
  * .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 250px);
  }
  * .contacto {
    padding-top: 50px;
    z-index: 0;
  }
}
@media screen and (min-width: 426px) and (max-width: 1024px) {
  * .mainPrincipalGrabaciones {
    margin-top: 150px;
  }
  * .videos {
    display: flex;
    flex-direction: column;
  }
  * .v {
    display: flex;
    justify-content: center;
  }
  * .serviciosTitulo {
    margin-top: 40px;
  }
  * .mainHomeStudio {
    margin-top: 160px;
  }
  * .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
  }
  * .item5 {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  * .item6 {
    grid-column: 1/3;
  }
  * .mainMiHistoria {
    margin-top: 150px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
  * .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
  }
  * .item5 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  * .item6 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  * .item1 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
}
* body {
  -webkit-animation: 3s aparicion 1;
          animation: 3s aparicion 1;
  transform-origin: top left;
}
@-webkit-keyframes aparicion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
}
@keyframes aparicion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
}/*# sourceMappingURL=estilo.css.map */